<%- include('partials/header'); -%>
<h1 class="playfairFont">Home</h1>
<div>
    <p> <%= homePage %> <a href="/editHome">Edit</a></p>
</div>
<form action="/composeBtn" method="post">
  <button type="submit" class="btn btn-primary btn-xs">New Post</button>
</form>
<div>
  <% totalPosts.forEach(function(post) { %>
      <h2 class="playfairFont"> <%= post.title %> </h2>
      <div class="truncate"> <%= post.body %> </div>
      <a href="/posts/<%= post._id %>" >Read More</a>
  <% });                                  %>
</div>
<%- include('partials/footer'); -%>
