<%- include('partials/header'); -%>
<h1><%= postTitle %></h1>
<div>
  <p> <%= postContent %> </p>
</div>

<div class="postBtnsContainer" >
  <form action="/delete" method="post">
    <button type="submit" class="btn btn-danger btn-xs" name="<%=postTitle%>">Delete</button>
  </form>

  <form action="/edit" method="post">
    <button type="submit" class="btn btn-primary btn-xs" name="<%=postTitle%>" >Edit</button>
  </form>
</div>

<%- include('partials/footer'); -%>
